.App {
  text-align: center;
}

table {
   width: 95vw;
   border: 2px solid #00bcd4;
   margin: auto;
   border-radius: 5px;
}
caption {
  font-size: 2rem;
  font-weight: bolder;
  color: #009688;
  margin: 1rem;
}
td {
  border: 1px solid #ff6d00;
  border-radius: 5px;
}
td:hover {
  border: 1px solid #ff6d00;
  border-radius: 5px;
  background-color: #ffd180;
  cursor: pointer;
}
.td-sum {
  background-color: #29b6f6 ;
}
.td-average {
  background-color: #00e676;
}
.delete-button {
  background-color: #ff5722;
}