.App {
  text-align: center;
}

table {
   width: 95vw;
   border: 2px solid #00bcd4;
   margin: auto;
   border-radius: 5px;
}
caption {
  font-size: 2rem;
  font-weight: bolder;
  color: #009688;
  margin: 1rem;
}
td:last-child:hover{
  border: 1px solid #ff6d00;
  border-radius: 5px;
  background-color: #00c853;
  cursor: pointer;
}
td {
  border: 1px solid #ff6d00;
  border-radius: 5px;
}
td:hover {
  border: 1px solid #ff6d00;
  border-radius: 5px;
  background-color: #ffd180;
  cursor: pointer;
}