.App {
  text-align: center;
}

table {
   width: 95vw;
   border: 2px solid #00bcd4;
   margin: auto;
   border-radius: 5px;
   border-collapse: separate;
   border-spacing: 5px;
}
caption {
  font-size: 2rem;
  font-weight: bolder;
  color: #009688;
  margin: 1rem;
}
h1{
  font-size: 2rem;
  font-weight: bolder;
  color: #009688;
  margin: 1rem;
}
td {
  border: 1px solid #455a64;
  border-radius: 5px;
  padding: 5px;
}
.td:hover {
  background-color:#ff1744;
}
.td-sum {
  background-color: #b2ebf2 ;
  cursor: pointer;
}
.td-sum:hover {
  background-color: #03a9f4 ;
  cursor: pointer;
}
.td-average {
  background-color: #76ff03;
}
.delete-button {
  background-color: #ffab91 ;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #ff5722 ;
  cursor: pointer;
}
.td-show-numbers {
  background-color: #18ffff;
}